<style>
.highlight-title{
  text-shadow: 0 0 0 #ff073a !important;
}
.landing-title{
  top: 30% !important;
}
#landing{
  background: #141414 !important;
}
</style>
<div id="landing">
  <div class="landing-title">
    <h1>Hi, I&#39;m
      <span class="highlight-title">{{site.username}}</span>
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "scroll down for more."]'
      >
      </span>
    </h1>
    <div class="landing-icons">
      <a class="social-link email" aria-label="Home" href="https://joshbv6.github.io">
         <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
    <div class="social">
      <svg class="social-svg" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 15 15">
        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/> 
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/> 
    </svg>
    </div>
        <span class="label">Home</span>
  </a>
      {% if site.email != null %}
        <a class="social-link email" aria-label="My E-Mail" href="mailto:{{site.email}}">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}""></use>
            </svg>
          </div>
          <span class="label">E-Mail</span>
        </a>
      {% endif %}

      {% if site.github_username != null %}
        <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
          href="https://github.com/{{site.github_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GitHub</span>
        </a>
      {% endif %}

      {% if site.codepen_username != null %}
        <a class="social-link" aria-label="My Codepen" target="_blank" rel="noreferrer"
          href="https://codepen.io/{{site.codepen_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#codepen" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">CodePen</span>
        </a>
      {% endif %}

      {% if site.dev_username != null %}
        <a class="social-link" aria-label="My DEV" target="_blank" rel="noreferrer"
          href="https://dev.to/{{site.dev_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#dev" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">DEV</span>
        </a>
      {% endif %}

      {% if site.linkedin_username != null %}
        <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank"
          rel="noreferrer" href="https://www.linkedin.com/in/joshua-bañón-valera-86b986231/?original_referer="
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">LinkedIn</span>
        </a>
      {% endif %}
                  
      <a class="social-link email" aria-label="BreachForce" target="_blank"
      rel="noreferrer" href="/BreachForce"
    >
      <svg viewBox="0 0 200 200" class="circle">
        <circle cx="100" cy="100" r="80" />
      </svg>
      <div class="social">
        <svg class ="social-svg" xmlns="http://www.w3.org/2000/svg" x="12" y="12" width="24" height="24" viewBox="0 0 511.999 511.999"  aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path data-name="layer1" d="M427.377,0H84.622C63.506,0,46.328,17.178,46.328,38.294v368.818c0,5.405,4.382,9.787,9.787,9.787h18.237v85.313 c0,5.405,4.382,9.787,9.787,9.787h349.58c5.405,0,9.787-4.382,9.787-9.787v-26.168h12.377c5.405,0,9.787-4.382,9.787-9.787V38.294 C465.671,17.178,448.492,0,427.377,0z M427.377,19.574c10.322,0,18.719,8.397,18.719,18.719v16.274h-323.18V38.294 c0-6.795-1.779-13.183-4.895-18.719H427.377z M74.352,45.595v351.729h-8.45V38.294c0-10.322,8.397-18.719,18.719-18.719 c9.478,0,17.314,7.086,18.535,16.234H84.139C78.734,35.808,74.352,40.19,74.352,45.595z M93.926,492.426V55.382h9.416v410.875 c0,5.405,4.382,9.787,9.787,9.787h310.801v16.382H93.926z M446.098,456.471h-323.18V74.142h323.18V456.471z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,141.524H192.88c-5.405,0-9.787,4.382-9.787,9.787c0,5.405,4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787C385.922,145.906,381.54,141.524,376.134,141.524z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,186.884H192.88c-5.405,0-9.787,4.382-9.787,9.787c0,5.405,4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787C385.922,191.266,381.54,186.884,376.134,186.884z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,277.603H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,277.603,376.134,277.603z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,322.963H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,322.963,376.134,322.963z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,368.323H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,368.323,376.134,368.323z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,232.244H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,232.244,376.134,232.244z"fill="none" stroke="#ff073a" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"stroke-linecap="round">
      </path>
      </svg>
       <!-- <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#BreachForce" | prepend: site.baseurl }}"></use>
        </svg>-->
      </div>
      <span class="label">BreachForce</span>
    </a>
    </div>
  </div>
</div>
