<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.email != null %}
  <a class="social-link" aria-label="My E-Mail" href="mailto:{{site.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.github_username != null %}
  <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
    href="https://github.com/{{site.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.codepen_username != null %}
  <a class="social-link black" aria-label="My Codepen" target="_blank" rel="noreferrer"
    href="https://codepen.io/{{site.codepen_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#codepen" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.dev_username != null %}
  <a class="social-link black" aria-label="My DEV" target="_blank" rel="noreferrer"
    href="https://dev.to/{{site.dev_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#dev" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.linkedin_username != null %}
  <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank" rel="noreferrer"
  href="https://www.linkedin.com/in/joshua-bañón-valera-86b986231/">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.twitter_username != null %}
  <a class="social-link twitter" aria-label="My Twitter" target="_blank" rel="noreferrer"
    href="https://twitter.com/{{site.twitter_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  <a class="social-link instagram" aria-label="My Instagram" target="_blank" rel="noreferrer" href="https://www.instagram.com/joshbv6/">
    <div class="social"></div>      
      <svg class="social-svg" viewBox="0 0 48 48">
          <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#instagram" | prepend: site.baseurl }}"></use>
        </svg>
  </a>
  <a class="social-link" aria-label="BreachForce" target="_blank" rel="noreferrer" href="/BreachForce">
    <div class="social"></div> 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999"  aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path data-name="layer1" d="M427.377,0H84.622C63.506,0,46.328,17.178,46.328,38.294v368.818c0,5.405,4.382,9.787,9.787,9.787h18.237v85.313 c0,5.405,4.382,9.787,9.787,9.787h349.58c5.405,0,9.787-4.382,9.787-9.787v-26.168h12.377c5.405,0,9.787-4.382,9.787-9.787V38.294 C465.671,17.178,448.492,0,427.377,0z M427.377,19.574c10.322,0,18.719,8.397,18.719,18.719v16.274h-323.18V38.294 c0-6.795-1.779-13.183-4.895-18.719H427.377z M74.352,45.595v351.729h-8.45V38.294c0-10.322,8.397-18.719,18.719-18.719 c9.478,0,17.314,7.086,18.535,16.234H84.139C78.734,35.808,74.352,40.19,74.352,45.595z M93.926,492.426V55.382h9.416v410.875 c0,5.405,4.382,9.787,9.787,9.787h310.801v16.382H93.926z M446.098,456.471h-323.18V74.142h323.18V456.471z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,141.524H192.88c-5.405,0-9.787,4.382-9.787,9.787c0,5.405,4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787C385.922,145.906,381.54,141.524,376.134,141.524z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,186.884H192.88c-5.405,0-9.787,4.382-9.787,9.787c0,5.405,4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787C385.922,191.266,381.54,186.884,376.134,186.884z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,277.603H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,277.603,376.134,277.603z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,322.963H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,322.963,376.134,322.963z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,368.323H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,368.323,376.134,368.323z"></path> 
    </g> </g> <g> <g> 
      <path d="M376.134,232.244H192.88c-5.405,0-9.787,4.382-9.787,9.787s4.382,9.787,9.787,9.787h183.255 c5.405,0,9.787-4.382,9.787-9.787S381.54,232.244,376.134,232.244z"fill="none" stroke="#ff073a " stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"stroke-linecap="round">
      </path>
      </svg>
      <!--<svg class="social-svg" viewBox="0 0 48 48">
          <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#Notebook" | prepend: site.baseurl }}"></use>
        </svg>-->
    </div>
  </a>


</div>
